import { config } from './{{name}}.config';

export const {{capitalize name}} = () => {
  return (
        <div>
            <h1>{{name}} component</h1>
            <p>{config.text{{capitalize name}} }</p>
        </div>
    );
};
